<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Bem-vindo!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <main> 
        <form class="formWrapper">
            <h1>Login</h1>
            <div class="inputWrapper">
                <label for="nome">Nome</label>
                <input type="text" placeholder="Digite o seu nome" id="nome">
            </div>
            <div class="inputWrapper">
                <label for="senha">Senha</label>
                <input type="password" placeholder="Digite a sua senha" id="senha">
            </div>
            <button type="button" class="btnLogin">Entrar</button>
            <a class="anchorItem" href="../ex002/index.html">Ainda não possui uma conta? Cadastre-se!</a>
        </form>
    </main>
    
</body>
</html>